[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
selenium = "*"
jupyter = "*"
notebook = "*"
requests = "*"
webdriver-manager = "*"
pandas = "*"
tqdm = "*"
proxy-requests = "*"
seaborn = "*"
matplotlib = "*"
astroquery = "*"

[dev-packages]

[requires]
python_version = "3.7"
